


body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

#slider img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    
}
.qte {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    width: auto;
    size: 40px;
    margin-top: 10px;
    display: inline-flex;
}
.select {
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    width: auto;
    size: 40px;
    margin-top: 10px;
    display: inline-block;
    
}

.container_image{
    
    
    
}

.panier {
    background-color: black;
    color: white;
    size: 40px;
    padding: 15px;
    width: auto;
    
}

.payer {
    background-color:rgb(48, 174, 243);
    color: white;
    size: 40px;
    padding: 15px;
    width: auto;
    
}



.container_input {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 2;
    align-items: center;
    
 
}

.Box {
    margin-top: 15px;
    position: relative;
    position: initial;
}






.label{
   display :block;
   margin: .4rem 0;
}
.container_texte{
    margin-top: 5px;
}


button{
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#slider {
    
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    align-items: center;
    }

    #suivant {
    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 0;
    font-size: 80px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(8, 8, 8, 0.8);
    padding: 5px;
    top: 180px;
    position: fixed;
}


#suivant {
    right: 400px;
}

#slider:hover #suivant {
    opacity: 1;
}





@media screen and (max-width: 1200px) {
    .content{
        
        display: flex;
        
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
   
   
    
    .container_texte {
       display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
        
    }
    .container_input{
        display: flex;
        order: 2;
        
        flex-direction: column;
    }
  
}

@media screen and (min-width: 1199px) {
    .content {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    

    .container_input{
        display: flex;
        order: 2;
        align-content: center;
        flex-direction:column ;
    }
    
    .container_texte {
        display: flex;
        order: 2;
        align-content: center;
        flex-direction: column;
    }
    
    .qte{
        width: 140px;
    }

    .select{
      width: 180px;
        }
    
    .panier{
        width: 250px;
    }
   
    
}
















